footer {
  background-color: $color-fondo;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: $color-titulo;
  border-top: 2px solid $color-subtitulo;
  font-size: 20px;
}
