main {
  background-color: $color-fondo;
  padding: 20px;
  display: grid;
  gap: 30px;
  margin-top: 30px;
  color: $color-titulo;
  font-family: $tipo-letra;
  text-align: center;

  p {
    color: $color-texto;
    text-align: center;
    font-size: $letra-parrafo;
    font-family: $tipo-letra;
  }
  h1{
    color: $color-titulo;
    font-size: $letra-header;
    font-family: $tipo-letra;
    text-align: center;
    margin: 40px 0 20px;
    text-transform: uppercase;
  }
  h2{
    color: $color-subtitulo;
    font-size: $letra-subtitulos;
    font-family: $tipo-letra;
  }

  
     /* Grid para la sección principal */
     main .brown {
      display: grid;
      gap: 30px;
      margin-top: 30px;
      padding: 20px;
      background-color: #FFEDDF;
      color: #4E290D;
      font-family: "Noto Serif", serif; 
      text-align: center;
      
    }


  .boton {
    display: inline-block;
    background-color: $color-fondo;
    text-align: center;
    color: $color-titulo;
    padding: 12px 24px;
    margin-top: 30px;
    border: 2px solid $color-subtitulo;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: $letra-boton;
    transition: background-color 0.3s;
    font-family: $tipo-letra;
    cursor: pointer;

    &:hover {
      background-color: darken($color-subtitulo, 1%);
    }
  }

  @include mobile {
    padding: 10px;
  }

  @include tablet {
    padding: 15px;
  }

  @include desktop {
    padding: 30px;
  }
}
