// Colores
$color-fondo:#FFEDDF;
$color-titulo: #4E290D;
$color-subtitulo: #b36c29;
$color-texto: black;
$color-dropdown: #fff;

//Tipografia
$tipo-letra:font-family "Noto Serif", serif;

//Tamaño Letra
$letra-header: font-size 2.5rem;
$letra-subtitulos: font-size 2rem;
$letra-parrafo: font-size 20px;
$letra-boton: font-size 20px;
$letra-nav: font-size 16px;
$letra-navtoggler: font-size 20px;



// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
